header{
    text-align: center;
    width: auto;
    background-color: darkslateblue;
    color: aliceblue;
    padding: 2%;
}
a{
    color: aliceblue;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
    margin: 2%;
    border-radius: 5px;
    padding: 0.5%;
}
button{
    background-color: darkslateblue;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
}

footer{
    width: auto;
    background-color: darkslateblue;
    color: aliceblue;
    padding: 2%;
}
