header {
    text-align: center;
    width: auto;
    background: rgb(97, 0, 255);
    background: linear-gradient(90deg, rgba(97, 0, 255, 1) 0%, rgba(243, 0, 255, 1) 100%);
    color: aliceblue;
    padding: 2%;
}

a {
    color: aliceblue;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
    margin: 2%;
    border-radius: 5px;
    padding: 0.5%;
}

button {
    background-color: darkslateblue;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    color: aliceblue;
}

.buttons {
    text-align: center;
}

body {

    margin: 0;
}

.print {
    text-align: center;
    list-style-type: none;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.actionbttns {
    background-color: darkslateblue;
    border-width: 2px;
    width: 110px;
    height: 50px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
}

#login {
    text-align: center;
}
#regist{
    text-align: center;
}

.div_align{
    text-align: center;
    align-items: center;
    margin: auto;
    width: 50%;
    padding:10px;
}

.footer {
    background: linear-gradient(90deg, rgba(97, 0, 255, 1) 0%, rgba(243, 0, 255, 1) 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
  }